.white-font {
	color: white;
	&.view-all {
		text-shadow: 2px 2px black;
    	font-weight: bold;
	}
}

.small-size {
	font-size: 10px;
	font-weight: bold;
}

.margin-top-1 {
	margin-top: 10px;
}

.margin-top-2 {
	margin-top: 20px;
}

.margin-top-3 {
	margin-top: 30px;
}

.margin-top-4 {
	margin-top: 40px;
}

.margin-bottom-1 {
	margin-bottom: 10px;
}

.margin-bottom-2 {
	margin-bottom: 20px;
}

.margin-bottom-3 {
	margin-bottom: 30px;
}

.margin-bottom-4 {
	margin-bottom: 40px;
}

.margin-left-1 {
	margin-left: 10px;
}

.margin-left-2 {
	margin-left: 20px;
}

.margin-left-3 {
	margin-left: 30px;
}

.margin-left-4 {
	margin-left: 40px;
}

.margin-top-4 {
	margin-top: 40px;
}

.margin-right-1 {
	margin-right: 10px;
}

.margin-right-2 {
	margin-right: 20px;
}

.margin-right-3 {
	margin-right: 30px;
}

.margin-right-4 {
	margin-right: 40px;
}

.inline-b {
	display: inline-block;
}

.full-width {
	width: 100%;
}

.half-width {
	width: 50%;
}

.fleft {
	float: left;
}

.fright {
	float: right;
}

.bold {
	font-weight: bold;
}

.center {
	text-align: center;
}

.tleft {
	text-align: left;
}

.tright {
	text-align: right;
}

.black {
	color: black;
}