@import url('https://fonts.googleapis.com/css?family=Roboto');

.bottom-container {
  width: 100%;
}

.header-margin-top {
  margin-top: 75px;
}

.left-dashboard {
  background-color: rgba(255,255,255,0.7);
  border-radius: 20px;
  margin-bottom: 10px;

  .viewmore-left-dash {
    float: right;
    background-color: #e74c3c;
    padding: 10px;
    border-radius: 0px 0px 0px 12px;
    margin-right: -15px;
    font-size: 22px;
  }
  .ld-options {
    width: 100%;
    float: right;
    .ld-regions {
      width: 50%;
      margin-bottom: 5px;
      float: left;
    }
  }
}

.ld-title1 {
  float: right;
  width: 100%;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
}

.bigfilm-name {
  text-align: center;
  font-size: 21px;
  float: left;
  width: 100%;
}

.count-container {
  width: 35px;
  height: 35px;
  float: left;
  border-radius: 25px;
  border-style: solid;
  background-color: white;
  text-align: center;
  line-height: 2;
  margin-left: 40px;
  margin-bottom: 10px;

  &.reduced {
    margin-left: 15px;
    margin-top: 5px;
  }
}

.spacer-container {
  width: 100%;
  float: right;
  margin-bottom: 20px;
}

.load-more-button {
  width: 100%;
  float: right;
  text-align: center;
  margin-top: 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.or-spacer {
    margin-top: 35px;
    width: inherit;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  
  .mask { 
    overflow:hidden; height:20px; 
    &:after { 
      content:''; 
      display:block; margin:-25px auto 0;
      width:100%; height:25px;  
      border-radius:125px / 12px;  
      box-shadow:0 0 8px black;
    }
  }
  span {
    $size:50px;
    width:$size; height:$size; 
    position:absolute; 
    bottom:100%; margin-bottom:-$size/2;
    left:50%; margin-left:-$size/2;
    border-radius:100%;
    box-shadow:0 2px 4px #999;
    background:white;
  }
  span i {
    $offset:4px;
    position:absolute;
    top:$offset; bottom:$offset;
    left:$offset; right:$offset;
    border-radius:100%;
    border:1px dashed #aaa;
    
    text-align:center;
    line-height:40px;
    font-style:normal;
    color:#999;
  }
}

.smaller-video-container {
  width: 100%;
  float: right;
  margin-top: 15px;
}

.small-video-area {
  float: left;
  text-align: center;
  line-height: 1;
  height: inherit;

  .small-vid-container {
    width: 230px;
    height: 174px;
  }

  .medium-vid-container {
    width: 370px;
    height: 271px;
  }
}

.rate-container {
  float: right;
  font-size: 25px;
  margin-right: 20px;
  border-style: dashed;
  padding: 0 15px;

  &.no-border {
    border-style: none;
    margin-right: 5px;
    margin-top: 10px;

    &.medium {
      margin-top: 0;
    }

  }

  a {
    color: black;
    text-decoration: none;

    &.awesome {
      &:hover, &.active {
        color: blue;
      }
    }

    &.boring {
      &:hover, &.active {
        color: red;
      }
    }

    &.fiesta {
      &:hover, &.active {
        color: green;
      }
    }
  }
}

.view-all {
  background-color: #00A538;
  min-width: 168px;

  &:hover, 
  &:focus {
    background-color: darken(#00A538, 8%);
  }
}

.container {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #2a4d6e;
  overflow-y: scroll;

  &.old-colors {
    background-color: #C63D0F;

    .left-dashboard {
      background-color: rgba(253,243,231, 0.8);
    }

    .right-dashboard {
      background-color: rgba(126,143,124, 0.8);
    }

    .specific-btns {
      background-color: #2199e8;
    }
  }

  .header {
    width: 100%;
    float: right;

    .header-text {
      line-height: 2;
      font-size: 30px;
      font-weight: 600;
      text-decoration: none;
      color: black;
    }
    .header-right {
      width: 135px;
      margin-right: 10px;
      margin-top: 10px;
      float: right;
      text-align: center;
      font-size: 26px;
      font-weight: bold;
      &.log-in {
        border-style: solid;
        border-width: 2px;
      }
    }
  }
}

.right-dashboard {
  background-color: rgba(231,76,60,0.8);
  border-radius: 20px;
  .rd-options {
    width: 100%;
    float: right;
  }
  .rd-smllvid-container {
    width: 100%;
    float: right;
  }
}

a.gallerypic{
  width:100%;
  text-decoration:none;
  position:relative;
  display:block;
  border:1px solid #666;
  padding:3px;
  margin-right:5px;
  float:left;
}

a.gallerypic span.zoom-icon{
  position:absolute;
  left:44.7%;
  top:43.7%;
  filter:alpha(opacity=50);
  -moz-opacity:0.5;
  -khtml-opacity: 0.5;
  opacity: 0.99;

  &.small {
    left: 31.7%;
    top: 25.7%;
  }
  &.medium {
    left: 38.7%;
    top: 34.8%;
  }
}

.big-film-container {
  width: 100%; 
  height: 500px; 
  float: left; 
}

a.gallerypic:hover img.pic {
  opacity: 0.8;
}

.modal-wrapper {
  width: 40%;
  padding: 0;
  min-width: 320px;

  .modal-container {
    background-color: #3B3738;
    color: white;
    text-align: center;
    padding: 20px;
    min-height: 200px;

    .exit-button-container {
      margin-bottom: 10px;
      margin-top: -20px;
      margin-right: 10px;
      text-align: right;

      .exit-button {
        font-size: 25px;
        margin-right: -15px;
      }
    }

    .rate {
      font-size: 2rem;
      display: inline-block;
      margin-top: -25px;
    }

    .video-name {
      font-weight: bold;
      text-decoration: underline;
    }
  }
  .bottom-modal {
    background-color: white;
    width: 100%;

    .submit-button {
      margin-left: auto;
      margin-right: auto;
      display: inherit;
      width: 150px;
    }

    .rating-container {
      font-size: 35px;
      padding-left: 20px;
      margin-bottom: 20px;
      padding-right: 20px;
      text-align: left;
      color: black;
      margin-left: 20px;
      margin-right: 20px;
      border-radius: 3%;

      &.active {
        background-color: #98EA62;
        text-align: right;

        &:hover {
          background-color: red;
        }
      }

      .text {
        font-size: 20px;
        display: inline-block;
        margin-left: 25px;

        &.active {
          margin-left: 0;
          margin-right: 25px;
        }
      }
      &:hover {
        background-color: #98EA62;
      }
    }
  }

}

.hover-underline:hover {
  text-decoration: underline;
}

.switch-size {
  font-size: 25px;
}

.min-height {
  display: inline-block;
  min-height: 40px;
  overflow-y: hover;
}

.specific-btns {
  background-color: #D4BB69;
  padding: 10px;
  border-radius: 20px;
  text-decoration: none;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;

  &:hover {
    background-color: #0481d4;
  }
}