<div class="container {{if color 'old-colors'}}">
	<div class="header center">
		<a {{action 'swapColors'}} class="show-for-medium-up white-font">
			<span class="inline-b fleft margin-left-2 margin-top-1 switch-size">{{fa-icon swapIcon}}</span>
		</a>
		{{#link-to 'dashboard'}}<span class="header-text">ProLeagueVideos</span>{{/link-to}}
	</div>
	{{outlet}}
</div>